
<style>
.form-group{
	width:80%;
}
.mapside{
	width:80%;
}
</style>
</head>
<body ng-controller="TimepickerDemoCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
			<form>
				<div class= "form-group">
					<label for='title'>Title:</label>
					<input type="text" class="form-control" id="title" placeholder="Full Name">
					<label for='type'>Event Type:</label>
					<input type='text' class='form-control' id='type' placeholder='type'><br>
					<label for='description'>Description:</label>	
					<textarea class='form-control' rows=5 cols=47 id='description'></textarea><br><br>
					<label for="from">From:</label><br>
					<input type="text" class='form-control' id="from" name="from" placeholder="select start date"><br>
					<label for="to">To:</label><br>
					<input type="text" class='form-control' id="to" name="to" placeholder="select end date">
					<!-- <div ng-controller="TimepickerDemoCtrl"><br> -->
					<!-- <div name="myForm" ng-controller="DateController as dateCtrl"> -->
   					<label for="exampleInput">Pick a Start Time:</label>
   					<input type="time" class='form-control' id="exampleInput" name="input" ng-model="example.value"placeholder="HH:mm:ss" min="12:00:00" max="24:00:00" required />
   					<label for="exampleInput">Pick an End Time:</label>
   					<input type="time" class='form-control' id="exampleInput" name="input" ng-model="example.value"placeholder="HH:mm:ss" min="12:00:00" max="24:00:00" required />
					<label for="budget"> Max budget per ride:</label>
					<input type='number' class='form-control' placeholder='$ max dollar amount for each ride'>
					<!-- </div>	 -->
					<label for="rides">Ride Count Max:</label>
					<select ng-model='' class='form-control'>
						<option value='1'>1</option>
						<option value='2'>2</option>
						<option value='3'>3</option>
						<option value='4'>4</option>
						<option value='5'>5</option>
						<option value='6'>6</option>
						<option value='7'>7</option>
						<option value='8'>8</option>
						<option value='9'>9</option>
						<option value='10'>10</option>
					</select>
					<label for="volunteers">Number of volunteers desired:</label>
					<select ng-model='' class='form-control'>
						<option value='1'>1</option>
						<option value='2'>2</option>
						<option value='3'>3</option>
						<option value='4'>4</option>
						<option value='5'>5</option>
						<option value='6'>6</option>
						<option value='7'>7</option>
						<option value='8'>8</option>
						<option value='9'>9</option>
						<option value='10'>10</option>
						<option value='11'>11</option>
						<option value='12'>12</option>
						<option value='13'>13</option>
						<option value='14'>14</option>
						<option value='15'>15</option>
						<option value='16'>16</option>
						<option value='17'>17</option>
						<option value='18'>18</option>
						<option value='19'>19</option>
						<option value='20'>20</option>
						<option value='21'>21</option>
						<option value='22'>22</option>
						<option value='23'>23</option>
						<option value='24'>24</option>
						<option value='25'>25</option>
						<option value='26'>26</option>
						<option value='27'>27</option>
						<option value='28'>28</option>
						<option value='29'>29</option>
						<option value='29'>30</option>
					</select>

			</div>
			</div>
					<div class="row">
						<div class="col-md-6">
						<div class='mapside'>
							<label for="location">Location:</label> <input type="text" class='form-control' id="us3-address" style="width: 200px"/>
							<label for="radius">Radius:</label><input type="text" class='form-control' id="us3-radius"/>
							<div id="us3" style="width: 500px; height: 400px;"></div>				
							<label for="to">Lat.:</label> <input type="text" class='form-control' id="us3-lat"/>
							<label for="to">Long.:</label> <input type="text" class='form-control' id="us3-lon"/>
				</div>
			</form>
			</div>
</body> 
</html>