<html>
	<head>
		<title>Guerrilla Love | Events</title>
		<style type="text/css">
			body{
				background-color: #454551;
			}
			nav{
				margin-bottom: none;
			}
			i{
				color: #991F00;
			}
			.jumbotron{
				position: relative;
				top: 132px;
				background-color: #454551;
				border: 1px solid lightgrey;
				text-align: center;
				color: white;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h2>About</h2>
				<p>We are a group of coding students studying in Mountain View, CA. Guerrilla Love is the product of a hackathon supported by Uber and their API. We thought up Guerrilla Love in an attempt to create something non-profit and philanthropic and it turned out to be a prime example of our goal; something spontaneous and fun, but with the community in mind. </p>
			</div>
		</div>
	</body>
</html>