<html>
<head>
	<title>Backend - Coordinate Test</title>
</head>
<body>
	<h1>After successful login...</h1>
	<a href='/coordinate'>Coordinate</a>
	<form action='/create_event' method='post'>
		<button type='submit'>Create Event</button>
	</form>
</body>
</html>