<html>
<head>
	<title>GuerillaLove Backend Tests</title>
</head>
<body>
	<p><a href="/auth/uber">Login</a></p>
	<form action='/show_price_estimate' method='post'>
		<button type='submit'>Show Price Estimate</button>
	</form>
	<a href="/show">Show Events</a>
</body>
</html>