<html>
<head>
	<title>GuerillaLove Backend Tests</title>
</head>
<body>
	<p><a href="/auth/uber">Login</a></p>
	<form action='/show_events' method='post'>
		<button type='submit'>Show Events</button>
	</form>
</body>
</html>