<div ng-app='myApp'>
	<div class="jumbotron">
		<div class="container">
			<p id="title_1">Guerrilla</p>
			<p id="title_2">Love</p>
			<img id="logo_g" src="../images/logo.png">
			<img id="logo_h" src="../images/lheart.png">
		</div>
	</div>
	<div id="main" class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
		    	<div class="thumbnail">
		      		<h3>Mission</h3>
		      		<img src="../images/lheart.png" alt="...">
		      		<div class="caption">
		        		<p>We created Guerrilla Love in the hopes of jumpstarting a trend throughout our communities...</p>
		        		<a class="more" href="#/mission">learn more...</a>
		    		</div>
		    	</div>
			</div>
			<div class="col-sm-6 col-md-4">
		    	<div class="thumbnail">
		      		<h3>How to Get Involved</h3>
		      		<img src="../images/hands.png" alt="...">
		      		<div class="caption">
		        		<p>How can you show your Guerrilla Love? Find out how you can eith coordinate, volunteer, or both!</p>
		        		<a class="more" href="#/contribute">learn more...</a>
		    		</div>
		    	</div>
			</div>
			<div class="col-sm-6 col-md-4">
		    	<div class="thumbnail">
		      		<h3>Events</h3>
		      		<img src="../images/events.png" alt="...">
		      		<div class="caption">
		        		<p>What's going on right now? Find out who's in your area doing good and get involved!</p>
		        		<a class="more" href="#/events">learn more...</a>
		    		</div>
		    	</div>
			</div>
		</div>
	</div>
</div>