<html>
	<head>
		<title>Guerrilla Love | Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<style type="text/css">
			body{
				background-color: #454551;
			}
			nav{
				margin-bottom: none;
			}
			i{
				color: #991F00;
			}
			.jumbotron{
				position: relative;
				top: 150px;
				height: 400px;
				border-bottom: 3px solid lightgrey;
			}
			h2{
				position: relative;
				top: 42px;
				font-size: 45px;
				text-align: center;
			}
			img{
				position: relative;
				top: 75px;
				left: 43%;			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h2>Login with Uber</h2>
				<a href="/auth/uber"><img src="../images/uber.png"></a>
			</div>
		</div>
	</body>
</html>