<html>
<head>
	<title>Guerrilla Love | Events</title>
	<style type="text/css">
		body{
			background-color: #454551;
		}
		nav{
			margin-bottom: none;
		}
		i{
			color: #991F00;
		}
		.jumbotron{
			background-color: white;
			height: 383px;
		}
		.jumbotron h1{
			position: relative;
			left: 58%;
			top: -347px;
			font-size: 90px;
		}
		.jumbotron h3{
			position: relative;
			left: 69%;
			top: -328px;
			font-size: 60px;
		}
		#word_cloud{
			position: relative;
			top: -40px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<div id="word_cloud" style="width: 400px; height: 400px; padding-bottom: 30px;">
				<script src="http://cdn.tagul.com/embed/jzehxa5qykin"></script>
			</div>
			<h3>Our</h3>
			<h1>Mission</h1>
		</div>
	</div>
</body>
</html>